@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8.75rem;
}

.container {
  max-width: 76.25rem;
  padding: 0 1.25rem;
  width: 100%;
  margin: 0 auto;
}
.container.container-mini {
  max-width: 68.75rem;
}
.container.flex {
  display: flex;
}
.container.flex.aic {
  align-items: center;
}
.container.flex.jcsb {
  justify-content: space-between;
}

.header {
  width: 100%;
  padding: 2.1875rem 0;
  background-color: #9ee378;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav_logo {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav_logo_text {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.logo_secondary_text {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 600;
  max-width: 24.375rem;
}

.nav_button_icon {
  max-width: 1.125rem;
  width: 100%;
}

.nav_button_text {
  color: #ffffff;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.nav_item a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  white-space: nowrap;
  transition: 0.1s;
}
.nav_item a:hover {
  opacity: 0.6;
}

.block1 {
  width: 100%;
  position: relative;
  padding-top: 8.75rem;
}

.block1_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.block1_img_man {
  max-width: 26.25rem;
  width: 100%;
  position: relative;
  z-index: 2;
}

.block1_title {
  position: relative;
  z-index: 2;
  font-size: 7.5rem;
  max-width: 31.25rem;
  font-weight: 600;
  line-height: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 1.25rem;
}
.block1_title span {
  font-size: 5rem;
  white-space: nowrap;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
}

.block {
  padding: 2.5rem 0;
}

.block_title {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1.25rem;
}

.block_cards {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.about_card {
  display: flex;
  align-items: flex-start;
  gap: 5.625rem;
}

.about_card_img {
  max-width: 16.25rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 12.5rem;
  height: 12.5rem;
  background-color: #d9d9d9;
}

.about_card_info {
  display: flex;
  flex-direction: column;
  color: #000000;
}

.about_card_info_title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
}

.about_card_info_text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  line-clamp: 7;
  box-orient: vertical;
}

.hr_divider {
  background-color: #9ee378;
  height: 0.75rem;
}

.default_text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}
.default_text p {
  font-size: 1.5rem;
  font-weight: 400;
}
.default_text b {
  font-weight: 600;
  font-size: 1.5rem;
}

.documents_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  max-width: 45.625rem;
  width: 100%;
  margin: 0 auto;
}

.document_card {
  background-color: #9ee378;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  padding: 0.6875rem 1.375rem;
  width: 100%;
  color: #000000;
  text-decoration: none;
  transition: 0.1s;
}
.document_card:hover {
  background-color: #80da4e;
}

.gerb_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gerb_img {
  max-width: 10.625rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 3.75rem;
}

.green_gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(158, 227, 120, 0.2) 87.6%);
}

.double_contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.contacts_column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contacts_column_text {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}
.contacts_column_text.link {
  transition: 0.1s;
}
.contacts_column_text.link:hover {
  opacity: 0.6;
}